<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/" method="post">
    <input type="text" name="title" required>
    <button type="submit">Create</button>
  </form>
  <div>
    <ul>
      <% for (let i = notes.length - 1; i >= 0; i--) {%>
        <li>
          <%= notes[i].title%>
        </li>
      <% }%>
    </ul>
  </div>
</body>
</html>